<ng-container *ngIf="products.length != 0">
  <div class="container">
    <div class="card-table">
      <div class="cart-prodect">
        <table class="table table-responsive">
          <thead>
            <tr>
              <td>رقم المنتج</td>
              <td>اسم المنتج</td>
              <td>الصورة</td>
              <td>السعر</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products;let i = index">
              <td>{{i+1}}</td>
              <td>{{item.productName}}</td>
              <td><img [src]="item.productImg" width="100px" height="100px"></td>
              <td>{{item.priceAfterSale}}</td>
              <td class="text-center">
                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>



<ng-container *ngIf="products.length == 0 ">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h4>العربة فارغة <span class="text-succcess">هل تريد اضافة  شراء منتج جديد!</span></h4>
        <button class="btn" value="explore" routerLink="/home">تصفح المنتجات</button>
      </div>
    </div>
  </div>
</ng-container>
